@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.title,
.value2 {
  position: relative;
}
.title {
  letter-spacing: 0.44px;
  line-height: 20px;
}
.value2 {
  font-size: var(--headline-h51-size);
  line-height: 36px;
  font-weight: 600;
  font-family: var(--headline-h61);
}
.info,
.value,
.value1 {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.value1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.info,
.value {
  flex-direction: row;
  align-items: center;
}
.info {
  border-radius: var(--br-md);
  background-color: var(--snow2);
  width: 132px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.column,
.column1,
.column2,
.column3,
.column4,
.column5,
.column7 {
  position: relative;
  background-color: var(--lavender1);
  width: 20px;
  height: 25px;
  flex-shrink: 0;
}
.column1,
.column2,
.column3,
.column4,
.column5,
.column7 {
  height: 27px;
}
.column2,
.column3,
.column4,
.column5,
.column7 {
  height: 28px;
}
.column3,
.column4,
.column5,
.column7 {
  height: 31px;
}
.column4,
.column5,
.column7 {
  width: 21px;
}
.column5,
.column7 {
  height: 24px;
}
.column7 {
  width: 20px;
  height: 38px;
}
.column14,
.column15,
.column16,
.column17,
.column19,
.column20,
.column21,
.column8 {
  position: relative;
  background-color: var(--lavender1);
  width: 20px;
  height: 36px;
  flex-shrink: 0;
}
.column14,
.column15,
.column16,
.column17,
.column19,
.column20,
.column21 {
  height: 24px;
}
.column15,
.column16,
.column17,
.column19,
.column20,
.column21 {
  height: 14px;
}
.column16,
.column17,
.column19,
.column20,
.column21 {
  height: 19px;
}
.column17,
.column19,
.column20,
.column21 {
  height: 18px;
}
.column19,
.column20,
.column21 {
  background-color: var(--fervent-pink);
  height: 14px;
}
.column20,
.column21 {
  height: 16px;
}
.column21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  height: 17px;
}
.column22,
.column23,
.column24,
.column25,
.column27,
.column29,
.column32,
.column43 {
  position: relative;
  background-color: var(--fervent-pink);
  width: 20px;
  height: 19px;
  flex-shrink: 0;
}
.column23,
.column24,
.column25,
.column27,
.column29,
.column32,
.column43 {
  height: 25px;
}
.column24,
.column25,
.column27,
.column29,
.column32,
.column43 {
  height: 27px;
}
.column25,
.column27,
.column29,
.column32,
.column43 {
  height: 28px;
}
.column27,
.column29,
.column32,
.column43 {
  width: 21px;
  height: 14px;
}
.column29,
.column32,
.column43 {
  height: 24px;
}
.column32,
.column43 {
  background-color: var(--lavender1);
  width: 20px;
  height: 17px;
}
.column43 {
  height: 16px;
}
.column51,
.column53,
.column55,
.column56,
.column61,
.column69,
.column71,
.column72 {
  position: relative;
  background-color: var(--lavender1);
  width: 21px;
  height: 19px;
  flex-shrink: 0;
}
.column53,
.column55,
.column56,
.column61,
.column69,
.column71,
.column72 {
  height: 13px;
}
.column55,
.column56,
.column61,
.column69,
.column71,
.column72 {
  width: 20px;
  height: 22px;
}
.column56,
.column61,
.column69,
.column71,
.column72 {
  height: 21px;
}
.column61,
.column69,
.column71,
.column72 {
  height: 13px;
}
.column69,
.column71,
.column72 {
  height: 9px;
}
.column71,
.column72 {
  height: 10px;
}
.column72 {
  height: 11px;
}
.chart {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.bg,
.cian,
.yellow {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-2xl);
  background-color: var(--purple-heart1);
}
.cian,
.yellow {
  width: 45.45%;
  right: 54.55%;
  background-color: var(--fervent-pink);
}
.yellow {
  width: 15.08%;
  right: 84.92%;
  background-color: var(--color-orange);
}
.line {
  position: relative;
  width: 1593px;
  height: 6px;
  flex-shrink: 0;
}
.graph,
.widget-l-size-timeline-cha {
  border-radius: var(--br-md);
  background-color: var(--snow2);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.graph {
  width: 1651px;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-md) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.widget-l-size-timeline-cha {
  position: absolute;
  bottom: 66px;
  left: calc(50% - 900px);
  box-shadow: var(--widget-shadow);
  flex-direction: row;
  gap: var(--gap-lg);
  font-size: var(--body-body-21-size);
  font-family: var(--tips-and-details-overline1);
}
.background,
.input {
  position: absolute;
  top: 0;
  left: 0;
}
.background {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--snow2);
}
.input {
  border-radius: var(--br-sm);
  background-color: var(--color-ghostwhite);
  width: 520px;
  height: 32px;
}
.icon {
  top: calc(50% - 12px);
  right: 7px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icon,
.search,
.tab {
  position: absolute;
}
.search {
  top: calc(50% - 16px);
  left: calc(50% - 560px);
  width: 520px;
  height: 32px;
}
.tab {
  height: 5%;
  width: 5.52%;
  top: 95%;
  right: 33.59%;
  bottom: 0;
  left: 60.89%;
  background-color: var(--color-darkslateblue-100);
}
.label,
.label1 {
  position: relative;
  letter-spacing: 0.44px;
  line-height: 24px;
  font-weight: 300;
}
.label1 {
  color: var(--color-black);
}
 button.label{
  color: var(--color-black);
  position: relative;
  letter-spacing: 0.44px;
  border: none;
  background-color: white;
  line-height: 24px;
  font-weight: 300px;
  font-size: 17px;
  color: rgb(119, 116, 116);


}
.menu,
.option-icon,
.profile-icon {
  top: calc(50% - 12px);
  overflow: hidden;
}
.menu {
  position: absolute;
  left: calc(50% + 67px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.option-icon,
.profile-icon {
  width: 24px;
  height: 24px;
}
.profile-icon {
  position: absolute;
  right: 110px;
}
.option-icon {
  right: 60px;
}
.logo,
.name,
.option-icon {
  position: absolute;
}
.name {
  top: calc(50% - 11px);
  left: 37px;
  display: inline-block;
  width: 161px;
}
.logo {
  top: 14px;
  left: 60px;
  width: 198px;
  height: 32px;
  overflow: hidden;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-archivo);
}
.navigation-bar {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  color: var(--color-lightslategray);
}
.wstf-logo-1-icon {
  position: absolute;
  top: 10px;
  left: 48px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.orion-data-visualisation {
  position: absolute;
  top: calc(50% - 8px);
  left: 67px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
}
.b,
.footer {
  position: absolute;
}
.b {
  top: calc(50% - 8px);
  right: 67px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: right;
}
.footer {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 38px;
  font-size: var(--tips-and-details-overline1-size);
  color: var(--color-steelblue-200);
  font-family: var(--tips-and-details-overline1);
}
.icon1 {
  position: relative;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.title1,
.value3 {
  position: relative;
  letter-spacing: 0.44px;
  line-height: 32px;
}
.value3 {
  letter-spacing: 0.15px;
  font-weight: 600;
}
.div,
.up-icon {
  position: absolute;
}
.up-icon {
  height: 28.57%;
  width: 34.15%;
  top: 46.43%;
  right: 65.85%;
  bottom: 25%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  height: 100%;
  width: 60.98%;
  top: 0;
  left: 39.02%;
  letter-spacing: 0.44px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.indicator {
  position: relative;
  width: 41px;
  height: 28px;
  flex-shrink: 0;
  display: none;
  font-size: var(--body-body-21-size);
  color: var(--electric-green1);
  font-family: var(--tips-and-details-overline1);
}
.amount,
.info1,
.informer-info-with-icon {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.amount {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  font-family: var(--headline-h61);
}
.info1,
.informer-info-with-icon {
  flex-direction: column;
  align-items: flex-start;
}
.informer-info-with-icon {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xl);
}
.side-indicators {
  position: absolute;
  top: 405px;
  left: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-4xl);
  font-size: var(--headline-h61-size);
  font-family: var(--tips-and-details-overline1);
}
.side-indicators:hover {
  background-color: var(--snow2);
  align-items: flex-start;
  justify-content: center;
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.span {
  letter-spacing: 0.11px;
}
.percent {
  position: absolute;
  width: 70.85%;
  top: calc(50% - 18px);
  left: 14.77%;
  font-weight: 300;
  display: inline-block;
  height: 37.41px;
}
.background-icon,
.progress-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 88px;
  height: 88px;
}
.progress-icon {
  position: inherit;
  top: -6px;
  left: 18px;
  right: 20px;
  width: 52px;
  height: 70px;
}
.amount3,
.chart1,
.detail {
  position: relative;
  width: 88px;
  height: 88px;
  flex-shrink: 0;
}
.amount3,
.detail {
  letter-spacing: 0.44px;
  line-height: 32px;
  display: inline-block;
  width: 69.83px;
  height: 29.93px;
}
.detail {
  font-size: var(--body-body-11-size);
  line-height: 24px;
  font-weight: 300;
  font-family: var(--headline-h61);
  width: 102.25px;
  height: 24.94px;
}
.info4,
.widget-m-size-big-circle-c {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.info4 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--headline-h61-size);
  color: var(--night-blue2);
  font-family: var(--tips-and-details-overline1);
}
.widget-m-size-big-circle-c {
  position: absolute;
  top: calc(50% + 244px);
  left: 60px;
  border-radius: var(--br-md);
  width: 220px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.progress-icon1 {
  position: absolute;
  top: 0;
  left: 0.97px;
  /* left: 23px; */
  width: 88px;
  height: 88px;
}
.widget-m-size-big-circle-c1 {
  position: absolute;
  top: calc(50% + 244px);
  left: 330px;
  border-radius: var(--br-md);
  width: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.hex-map-icon {
  position: absolute;
  top: calc(50% - 431px);
  right: 57px;
  width: 1501px;
  height: 935.95px;
}
.indicator-icon {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.amount5,
.title4 {
  position: relative;
  letter-spacing: 0.44px;
  line-height: 20px;
  font-weight: 300;
}
.amount5 {
  font-size: var(--headline-h61-size);
  letter-spacing: 0.15px;
  line-height: 28px;
  font-weight: 600;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--snow2);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.arrow-icon {
  position: absolute;
  bottom: 0;
  left: calc(50% - 10.99px);
  width: 22.27px;
  height: 13.5px;
}
.map-pin-pin-with-name,
.map-pin-pin-with-name1,
.map-pin-pin-with-name2,
.map-pin-pin-with-name3,
.map-pin-pin-with-name4,
.map-pin-pin-with-name5 {
  position: absolute;
  top: calc(50% - 250px);
  right: 1147px;
  box-shadow: 0 140.8308868408203px 112.66px rgba(41, 52, 149, 0.21),
    0 58.83578109741211px 47.07px rgba(41, 52, 149, 0.15),
    0 31.456422805786133px 25.17px rgba(41, 52, 149, 0.13),
    0 17.634212493896484px 14.11px rgba(41, 52, 149, 0.1),
    0 9.365398406982422px 7.49px rgba(41, 52, 149, 0.08),
    0 3.8971519470214844px 3.12px rgba(41, 52, 149, 0.06);
  width: 180px;
  height: 72px;
}
.map-pin-pin-with-name1,
.map-pin-pin-with-name2,
.map-pin-pin-with-name3,
.map-pin-pin-with-name4,
.map-pin-pin-with-name5 {
  top: calc(50% - 3px);
  right: 1024px;
}
.map-pin-pin-with-name2,
.map-pin-pin-with-name3,
.map-pin-pin-with-name4,
.map-pin-pin-with-name5 {
  top: calc(50% - 332px);
  right: 692px;
}
.map-pin-pin-with-name3,
.map-pin-pin-with-name4,
.map-pin-pin-with-name5 {
  top: calc(50% - 116px);
  right: 605px;
}
.map-pin-pin-with-name4,
.map-pin-pin-with-name5 {
  top: calc(50% - 184px);
  right: 224px;
}
.map-pin-pin-with-name5 {
  top: calc(50% + 116px);
  right: 113px;
}
.amount11 {
  position: absolute;
  top: 201px;
  left: 60px;
  font-size: var(--headline-h1-size);
  letter-spacing: -1.75px;
  line-height: 118px;
  font-weight: 500;
}
.detail3 {
  position: relative;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-transform: uppercase;
}
.arow-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.detail2,
.title10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.detail2 {
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--tips-and-details-overline1-size);
  font-family: var(--tips-and-details-overline1);
}
.title10 {
  position: absolute;
  top: 183px;
  left: 60px;
  align-items: flex-end;
  gap: var(--gap-2xl);
  font-size: var(--headline-h61-size);
}
.wstf-front-end-hackathon {
  position: absolute;
  top: 83px;
  left: 56px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-archivo);
  color: var(--color-black);
  display: inline-block;
  width: 360px;
  height: 44px;
}
.world-hexagon-map {
  position: relative;
  border-radius: var(--br-md);
  background-color: var(--color-ghostwhite);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-body-11-size);
  color: var(--night-blue2);
  font-family: var(--headline-h61);
}
